infra/
.terraform/
*.tfstate
*.tfstate*
*.terraform.lock.hcl

#Ignore Python caches and envs
venv/
.venv/
*.pyc
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.mypy_cache/

#Local env
.env
.env.*

#Ignoring Git and Editor's Metadata
*git/
.gitignore
.gitattributes
.vscode/
.idea/
.DS_Store