###Python App Files###
#Virtualenvs
**/venv/
**/.venv/

#Byte compiled files
**/__pycache__/
**/*.py[cod]

#Local env files
**/.env

###Terraform Files###
#Terraform working directory
**/.terraform/

#State and backup files
**/*.tfstate*

#Local files
**/.terraform.lock.hcl

#.tfvars
infra/cafe_infrastructure/terraform.tfvars
infra/cafe_infrastructure/backend.tfvars

###Scrapped
infra/cafe_infrastructure/modules/autoscaling_group/*

###Log files, IDE, and OS artifacts###
*.log
.vscode/
.DS_Store